In [1]:
import pandas as pd
import numpy as np
import env
import matplotlib.pyplot as plt
import seaborn as sns 
import os
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import wrangle

In [2]:
def new_zillow_data(SQL_query, url):
    '''
    this function will:
    - take in a SQL_query 
    -create a connection url to mySQL
    -return a df of the given query from the zillow database
    
    '''
    
    url= f'mysql+pymysql://{env.username}:{env.password}@{env.hostname}/zillow'
    return pd.read_sql(SQL_query,url)    
    
    
    
def get_zillow_data(filename = "zillow_data.csv"):
    '''
    this function will:
    -check local directory for csv file
        return if exists
    if csv doesn't exist
    if csv doesnt exist:
        - create a df of the SQL_query
        write df to csv
    output zillow df
    
    '''
    directory = os.getcwd()
    
    SQL_query = '''select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, 
                    yearbuilt, taxamount, fips, propertylandusedesc from properties_2017
                    join propertylandusetype using(propertylandusetypeid)
                    where propertylandusedesc like 'Single Family Residential';'''
    
    filename = "zillow_data.csv"
    
    url= f'mysql+pymysql://{env.username}:{env.password}@{env.hostname}/zillow'

    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        df= new_zillow_data(SQL_query, url)
        df.to_csv(filename)
        return df
    
    
def preparing_data_zillow(df):
    '''
    droping unwanted rows for zillow first exercise
    converting float columns to integers
    '''
    df = df.dropna()
    df.calculatedfinishedsquarefeet = df.calculatedfinishedsquarefeet.astype(int).copy()
    df.fips = df.fips.astype(int).copy()
    df.yearbuilt = df.yearbuilt.astype(int).copy()
    return df


def wrangle_zillow():
    '''
    gets and prepares zillow data
    '''
    df = get_zillow_data()
    df = preparing_data_zillow(df)
    return df



def split_data(df, target):
    '''
    Takes in a dataframe and returns train, validate, test subset dataframes
    '''
    
    
    train, test = train_test_split(df,
                                   test_size=.2, 
                                   random_state=123, 
                                   stratify=df[target]
                                   )
    train, validate = train_test_split(train, 
                                       test_size=.25, 
                                       random_state=123, 
                                       stratify=train[target]
                                       )
    
    return train, validate, test

In [3]:
df = wrangle.wrangle_zillow()

/Users/divante/codeup-data-science/regression-exercises/wrangle.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.calculatedfinishedsquarefeet = df.calculatedfinishedsquarefeet.astype(int)
/Users/divante/codeup-data-science/regression-exercises/wrangle.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fips = df.fips.astype(int)
/Users/divante/codeup-data-science/regression-exercises/wrangle.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.yearbuilt = df.yearbuilt.astype(int)

In [12]:
df.calculatedfinishedsquarefeet = df.calculatedfinishedsquarefeet.astype(int)
df.fips = df.fips.astype(int)
df.yearbuilt = df.yearbuilt.astype(int)

df.shape

(2140235, 8)

In [5]:
# df = df.drop(columns = 'propertylandusedesc')

# taxvaluedollarcnt is structurevaluedollarcnt + landtaxvaluedollarcnt
# calculatedfinishedsquarefeet seems to get its value from 1 of three finished square feet columns


def preparing_data(df):
    '''
    droping unwanted rows
    '''
    df = df.dropna()
    return df

In [14]:



df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,propertylandusedesc
4,4.0,2.0,3633,296425.0,2005,6941.39,6037,Single Family Residential
6,3.0,4.0,1620,847770.0,2011,10244.94,6037,Single Family Residential
7,3.0,2.0,2077,646760.0,1926,7924.68,6037,Single Family Residential
11,0.0,0.0,1200,5328.0,1972,91.60,6037,Single Family Residential
14,0.0,0.0,171,6920.0,1973,255.17,6037,Single Family Residential

In [ ]:
the_df = df.dropna()
the_df